<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
     <nav class="navigation">
        <div class="navigation-links">
            <a href="/">Главная</a>
            <a href="{% url 'upload' %}">Распознавание заводских счетчиков</a>
            <a href="{% url 'water_upload' %}">Распознавание водяных счетчиков</a>
            <a href="{% url 'readings' %}">Посмотреть сохранённые показания</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/">Главная</a>
            <a href="{% url 'upload' %}">Распознавание заводских счетчиков</a>
            <a href="{% url 'water_upload' %}">Распознавание водяных счетчиков</a>
            <a href="{% url 'readings' %}">Посмотреть сохранённые показания</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <h1>Добро пожаловать в наше приложение для распознавания показаний счетчиков</h1>
        <p align="left">Наше приложение предназначено для автоматического считывания и распознавания показаний с различных типов счетчиков, таких как электрические, водные и газовые. Используя передовые технологии распознавания изображений и машинного обучения, наше приложение помогает вам легко и быстро собирать данные, избавляя вас от необходимости вручную вводить показания счетчиков.</p>
        <p align="left">С помощью нашего приложения вы можете:</p>
        <ul align="left">
            <li align="left">Загружать фотографии ваших счетчиков и автоматически считывать показания.</li>
            <li align="left">Сохранять все данные в удобном формате для последующего анализа и отчетности.</li>
            <li align="left">Просматривать и управлять ранее загруженными показаниями.</li>
            <li align="left">Удалять ненужные или ошибочные записи.</li>
        </ul>
        <p align="left">Наше приложение экономит ваше время и усилия, делая процесс сбора данных более точным и эффективным.</p>

        <h2 align="left">Часто задаваемые вопросы</h2>
        <section class="faq">
            <details>
                <summary align="left">Как загрузить изображение?</summary>
                <p align="left">Чтобы загрузить изображение вашего счетчика, выполните следующие шаги:</p>
                <ol align="left">
                    <li>Перейдите на страницу "Загрузить изображение", нажав на соответствующую ссылку в навигационном меню.</li>
                    <li>На открывшейся странице нажмите кнопку "Выбрать файл" и выберите файл с изображением вашего счетчика на вашем устройстве.</li>
                    <li>После выбора файла нажмите кнопку "Загрузить", чтобы отправить изображение на сервер для обработки.</li>
                    <li>После загрузки изображения, наше приложение автоматически распознает показания и сохранит их в базе данных.</li>
                </ol>
                <p align="left">Если у вас возникли какие-либо проблемы при загрузке изображения, убедитесь, что файл имеет допустимый формат (например, JPG или PNG) и размер не превышает установленный лимит.</p>
            </details>
            <details>
                <summary align="left">Как посмотреть сохранённые показания?</summary>
                <p align="left">Чтобы просмотреть ранее сохранённые показания, выполните следующие шаги:</p>
                <ol align="left">
                    <li>Перейдите на страницу "Посмотреть сохранённые показания", нажав на соответствующую ссылку в навигационном меню.</li>
                    <li>На открывшейся странице вы увидите список всех загруженных вами показаний, отсортированных по дате и времени загрузки.</li>
                    <li>Для каждого показания будет отображаться дата загрузки, тип счетчика и сами показания.</li>
                    <li>Вы можете использовать функции фильтрации и поиска, чтобы быстро найти нужные данные.</li>
                </ol>
                <p align="left">Если у вас много записей, вы можете воспользоваться функцией экспорта, чтобы сохранить данные в удобном формате, например, CSV или Excel, для дальнейшего анализа и отчетности.</p>
            </details>
            <details>
                <summary align="left">Как удалить показания?</summary>
                <p align="left">Чтобы удалить ненужные или ошибочные показания, выполните следующие шаги:</p>
                <ol align="left">
                    <li>Перейдите на страницу с сохранёнными показаниями, нажав на соответствующую ссылку в навигационном меню.</li>
                    <li>В списке сохранённых показаний выберите записи, которые вы хотите удалить, установив флажки рядом с ними.</li>
                    <li>После выбора необходимых записей нажмите кнопку "Удалить выбранные", расположенную в верхней или нижней части страницы.</li>
                    <li>Подтвердите удаление в появившемся диалоговом окне. Выбранные записи будут удалены из базы данных и больше не будут отображаться в списке.</li>
                </ol>
                <p align="left">Обратите внимание, что удалённые данные не могут быть восстановлены. Убедитесь, что вы действительно хотите удалить выбранные записи, прежде чем подтверждать удаление.</p>
            </details>
            <details>
                <summary align="left">Как рассчитать плату за потребление воды или электроэнергии по показаниям счетчика?</summary>
                <p align="left">Чтобы рассчитать плату за потребление воды или электроэнергии по показаниям счетчика, выполните следующие шаги:</p>
                <ol align="left">
                    <li>Снимите текущие показания счетчика и запишите их.</li>
                    <li>Вычтите из текущих показаний предыдущие показания, чтобы узнать количество потребленной воды или электроэнергии.</li>
                    <li>Умножьте полученное количество на тариф, установленный вашим поставщиком услуг. Например, если вы потребили 100 кВтч электроэнергии, а тариф составляет 5 рублей за кВтч, то ваша плата будет 100 * 5 = 500 рублей.</li>
                    <li>Не забудьте учесть возможные дополнительные сборы и налоги, которые могут быть применены вашим поставщиком услуг.</li>
                </ol>
                <p align="left">Если у вас есть вопросы по расчету платы, обратитесь к вашему поставщику услуг или воспользуйтесь их онлайн-калькулятором, если он доступен.</p>
            </details>
            <details>
                <summary align="left">Какие типы счетчиков существуют?</summary>
                <p align="left">Существует несколько типов счетчиков, которые используются для измерения потребления различных ресурсов:</p>
                <div align="left">
                    <h3 align="left">Электросчетчики</h3>
                    <p align="left"><img src="{% static 'main/electro.jpeg' %}" width="500" height="500" alt="Аналоговый электросчетчик"><br> Аналоговые электросчетчики используют механические компоненты для измерения потребления электроэнергии. Они имеют вращающийся диск и набор циферблатов для отображения показаний.
                    Цифровые электросчетчики используют электронные компоненты и отображают показания на цифровом дисплее. Они более точны и могут передавать данные удаленно.</p>

                    <h3 align="left">Водосчетчики</h3>
                    <p align="left"><img src="{% static 'main/water.jpg' %}" width="500" height="500" alt="Механический водосчетчик"> <br>Механические водосчетчики измеряют потребление воды с помощью вращающегося механизма и отображают показания на наборе циферблатов.
                    Ультразвуковые водосчетчики используют звуковые волны для измерения потока воды и отображают данные на цифровом дисплее. Они более точны и долговечны.</p>

                    <h3 align="left">Газовые счетчики</h3>
                    <p align="left"><img src="{% static 'main/gaz.jpg' %}" width="500" height="500" alt="Диафрагменный газовый счетчик"><br> Диафрагменные газовые счетчики используют гибкую мембрану для измерения объема потребляемого газа и отображают показания на механическом регистре.
                    Ротационные газовые счетчики используют вращающиеся компоненты для измерения потока газа и отображают данные на механическом регистре.</p>

                    <h3 align="left">Теплосчетчики</h3>
                    <p align="left"><img src="{% static 'main/teplo.jpg' %}" width="500" height="500" alt="Ультразвуковой теплосчетчик"><br> Ультразвуковые теплосчетчики используют звуковые волны для измерения тепловой энергии и отображают данные на цифровом дисплее.
                    Электромагнитные теплосчетчики используют электромагнитные поля для измерения потока тепловой энергии и отображают данные на цифровом дисплее.</p>
                </div>
                <p align="left">Каждый тип счетчика имеет свои особенности и применяется в зависимости от конкретных нужд и условий эксплуатации.</p>
            </details>
            <details>
                <summary align="left">Какое оборудование необходимо для использования вашего приложения?</summary>
                <p align="left">Для использования нашего приложения вам потребуется следующее оборудование:</p>
                <ul align="left">
                    <li>Смартфон или камера: чтобы делать фотографии ваших счетчиков. Убедитесь, что изображения четкие и хорошо освещенные, чтобы приложение могло правильно распознать показания.</li>
                    <li>Интернет-соединение: для загрузки изображений в наше приложение и получения обработанных данных.</li>
                    <li>Компьютер или мобильное устройство: для доступа к веб-интерфейсу нашего приложения, где вы можете загружать изображения, просматривать и управлять показаниями.</li>
                </ul>
                <p align="left">Никакое дополнительное оборудование или программное обеспечение не требуется. Наше приложение работает в любом современном веб-браузере и не требует установки.</p>
            </details>
        </section>
    </div>

    <script src="{% static 'main/main.js' %}"></script>
       <script>
        function toggleMenu() {
            var menu = document.getElementById('dropdown-menu');
            menu.style.display = (menu.style.display === 'flex') ? 'none' : 'flex';
        }
    </script>
<footer class="footer">
    <p>&copy; 2024 Ваше приложение для распознавания показаний счетчиков. Все права защищены.</p>
</footer>
</body>
</html>
